@use '../custom' as *;

.contact-us {

    &__info {
        .list-group-item {
            i {
                margin-right: 1rem;
                background-color: rgba($primary, 0.08);
                width: 2.5rem;
                height: 2.5rem;
                line-height: 2.5rem;
                font-size: 1.05rem;
                text-align: center;
                color: $primary;
                border-radius: 50%;
            }

            h5 {
                font-size: 1.1rem;
                color: $gray-700;
                font-weight: 600;
                margin-bottom: 0.2rem;
            }

            p {
                a {
                    text-decoration: none;
                    color: $gray-700;
                    transition: 0.2s;
                    font-size: 0.98rem;
                    font-style: italic;

                    &:hover {
                        color: $primary;
                        
                    }
                }
            }
        }

        .social-links {
            .list-inline-item {
                margin-right: 1rem;
                margin-bottom: 1rem;

                a {
                    text-decoration: none;
                    color: $gray-700;
                    font-weight: 500;
                    font-size: 0.98rem;
                    transition: 0.2s;

                    i {
                        transition: 0.2s;
                    }

                    &:hover {
                        color: $primary;

                        i {
                            color: $primary !important;
                        }
                    }
                }
            }
        }
    }
}